[alias]
    l = log
    st = status -sb
    di = diff
    ci = commit
    co = checkout
    reh = reset --hard
    cp = cherry-pick
    br = branch
    rb = rebase
    sb = submodule
    wdi = diff --word-diff
    graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
    gr = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
    pullr = pull --rebase
    cb = rev-parse --abbrev-ref HEAD
    lg = log --oneline --decorate --graph
    fe = fetch
[color]
    ui = true
    quotepath = false
[core]
    editor = vim -c \"set fenc=utf-8\"
[push]
    default = simple
[include]
    path = ~/.gitconfig.local
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
[init]
	defaultBranch = main
