inoremap <C-f> <Esc>

nnoremap ]t :<C-u>tabnext<CR>
nnoremap [t :<C-u>tabprevious<CR>
nnoremap [m :<C-u>action MethodUp<CR>
nnoremap ]m :<C-u>action MethodDown<CR>
nnoremap [e :<C-u>action GotoPreviousError<CR>
nnoremap ]e :<C-u>action GotoNextError<CR>

nnoremap <C-o> :<C-u>action Back<CR>
nnoremap <C-i> :<C-u>action Forward<CR>
nnoremap g; :<C-u>action JumpToLastChange<CR>
nnoremap g, :<C-u>action JumpToNextChange<CR>

nnoremap K :<C-u>action QuickJavaDoc<CR>
nnoremap <C-k> :<C-u>action ShowUsages<CR>
nnoremap <space>gi :<C-u>action GotoImplementation<CR>
nnoremap <space>gs :<C-u>action GotoSuperMethod<CR>
nnoremap <space>gt :<C-u>action GotoTest<CR>

set hls
set surround
